$primary-color: #274C5B;
$secondary-color: #7EB693;
$btn-bg-yellow: #EFD372;
$light-gray-bg: #F9F8F8;
$dark-gray-bg: #EFF6F1;
$icon-bg: #335B6B;
$box-shadow: 0px 20px 35px 0px #A7A7A740;
$grey-color: #525C60;
$white-color: #fff;